/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 10px 0;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo img {
    width: 120px;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #f2a900; /* Gold color */
  }
  
  /* Burger Menu */
  .navbar-burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger-line {
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background-color: white;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 10px;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-burger {
      display: flex;
    }
  
    .navbar-burger.active .burger-line {
      background-color: #f2a900; /* Gold color */
    }
  }
  